<main class="flex flex-col h-full justify-between">
  <div class="nav grow">
    <app-navbar></app-navbar>
  </div>
  <div class="content grow-[8]">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</main>

<!-- Floating Buttons -->
<a
  href="https://wa.me/201092225678?text=مرحباً،%20أرغب%20في%20عمل%20مشروع%20ويب%20معكم%20وأريد%20معرفة%20التفاصيل."
  target="_blank"
  rel="noopener noreferrer"
  class="floating-btn whatsapp-btn pulse"
>
  <i class="fab fa-whatsapp text-white text-2xl"></i>
</a>

<a
  href="https://m.me/osama.romih.12"
  target="_blank"
  rel="noopener noreferrer"
  class="floating-btn messenger-btn pulse"
>
  <i class="fab fa-facebook-messenger text-white text-2xl"></i>
</a>
