/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #111827; /* gray-900 */
}

@font-face {
  font-family: "Cairo";
  src: url("assets/fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("assets/fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
}
