<section
  id="home"
  class="relative min-h-screen flex items-center pt-32 pb-20 px-4 bg-cover bg-top"
  style="background-image: url('assets/images/9.jpg')"
>
  <!-- background -->
  <!-- <div
    class="absolute inset-0 h-full bg-cover bg-top scale-105"
    style="background-image: url('assets/images/8.jpg')"
  ></div> -->
  <!-- overlay -->
  <div class="absolute h-full inset-0 bg-black/50 md:bg-black/30"></div>

  <!-- Content -->
  <div class="max-w-7xl mx-auto relative z-10 w-full text-end">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div class="hidden md:block"></div>
      <!-- Text Content -->
      <div class="fade-in space-y-6 text-white">
        <h1
          id="hero-title"
          class="text-4xl md:text-5xl lg:text-6xl font-bold leading drop-shadow-lg"
        >
          نحوّل أفكارك إلى مواقع ويب احترافية
        </h1>

        <p
          id="hero-subtitle"
          class="text-lg md:text-xl text-white/90 leading drop-shadow-md"
        >
          نقدّم حلول ويب متكاملة تشمل المواقع التعريفية، المتاجر الإلكترونية،
          الأنظمة، والمنصات الذكية — بتصميم عصري، أداء عالي، ومتوافق مع جميع
          الأجهزة، وبأسعار تنافسية تناسب ميزانيتك
        </p>

        <div class="flex flex-wrap gap-4 justify-end">
          <a
            href="#contact"
            class="px-8 py-3 border-2 border-white text-white rounded-lg font-medium hover:bg-white hover:text-black transition"
          >
            تواصل معنا
          </a>
          <a
            href="#services"
            class="px-8 py-3 bg-[#0084ff] text-white rounded-lg font-medium hover:bg-[#0084ff] hover:shadow-xl transition transform hover:scale-105"
          >
            استكشف خدماتنا
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
